extends layout

block content
  h1= title
  p Welcome to #{title}
  div#accordion.panel-group
    each request in requests
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            <a data-toggle="collapse" data-parent="#accordion" href="##{request.id}">#{request.url}</a> #{request.timeout}ms status: #{request.statusCode}
        <div id="#{request.id}" class="panel-collapse collapse in"> 
        div.panel-body
          p body: #{request.body}
        </div>